<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jingchao.mapper.EmployeeMapper">


	<resultMap id="empResultMap" type="com.jingchao.pojo.Emp">
		<id column="id" property="id"></id>
		<result column="workId" property="workId"></result>
		<result column="name" property="name"></result>
		<result column="gender" property="gender"></result>
		<result column="email" property="email"></result>
		<result column="phone" property="phone"></result>
		<result column="departmentId" property="deptId"></result>
		<result column="dept_name" property="deptName"></result>
	</resultMap>
	<select id="getAllEmployee" resultMap="empResultMap">
		select t_employee.id,workId,name,gender,email,phone,t_employee.departmentId,t_department.dept_name
		from t_employee
			     left join t_department on
			t_employee.departmentId = t_department.id
	</select>


</mapper>